@import "styles.css";

li {
  list-style: none;
}

.top-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg);
  padding-block: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .extra-links {
    display: flex;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;

  & h1 {
    font-size: var(--font-extra-large);
  }

  & > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0.5rem;
    gap: 1rem;

    & > .section {
      flex-basis: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  & > .hero {
    & .header {
      & .wave {
        display: inline-block;
        transform-origin: 70% 70%;
        animation: wave 2s infinite;
      }
    }

    & .hero-contact {
      padding-block: 0.5rem;
      padding-inline: 1rem;
      border-radius: var(--border-radius-small);
      border: solid 1px var(--font-color);
      transition: var(--transition-time-short);
    }

    & .hero-contact:hover {
      background-color: var(--bg-button);
      color: var(--font-color-inverse);
      transition: var(--transition-time-short);
    }

    & .computer-setup-container {
      align-items: center;
      border-radius: var(--border-radius-normal);

      & .computer-setup {
        width: 100%;
        filter: grayscale(100%);
        border-radius: var(--border-radius-small);
      }
    }
  }

  & > .about {
    & > .section > ul {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    & > .headshot-container {
      align-items: center;

      & > img {
        border-radius: 9999px;
        max-width: 50%;
      }
    }
  }

  & > .skills {
    & h2 {
      margin-bottom: 1rem;
    }

    & h3 {
      font-weight: bold;
    }

    & > .section > .skill-type {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 1rem;

      & > .skill {
        border: solid 1px var(--font-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding-block: 3rem;
        padding-inline: 7rem;
        border-radius: var(--border-radius-normal);
        transition: var(--transition-time-short);

        & .skill-icon {
          font-size: 5rem;
        }
      }
      & > .skill:hover {
        background-color: var(--bg-inverse);
        color: var(--font-color-inverse);
        box-shadow: var(--font-color) 0px 5px 15px 0px;
        transition: var(--transition-time-short);
      }
    }
  }

  & > .contact {
    & .links {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & a {
        font-size: var(--font-normal);
      }
    }
  }
}

footer {
  width: 100vw;
  min-height: 4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .content {
    > & .about {
      flex-direction: column;
    }
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    font-size: 4rem;
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  100% {
    font-size: var(--font-extra-large);
    transform: rotate(0deg);
  }
}
