$breakpoint-small: 768px;

:root {
  --bg-dark: #1c1b22;
  --bg-light: white;
  --bg-button-dark: rgb(255, 255, 255);
  --bg-button-light: rgb(28, 27, 34);

  --font-small: 0.75rem;
  --font-normal: 1rem;
  --font-large: 2rem;
  --font-extra-large: 3rem;

  --font-color-dark: white;
  --font-color-light: black;

  --border-radius-small: 0.3rem;
  --border-radius-normal: 0.5rem;

  --transition-time-short: 0.3s;

}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --bg-inverse: var(--bg-dark);
    --bg-button: var(--bg-button-light);

    --font-color: var(--font-color-light);
    --font-color-inverse: var(--font-color-dark);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --bg-inverse: var(--bg-light);
    --bg-button: var(--bg-button-dark);

    --font-color: var(--font-color-dark);
    --font-color-inverse: var(--font-color-light);
  }
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: 2px solid transparent;
}

html {
  color-scheme: dark light;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100svh;
  background-color: var(--bg);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  overflow-x: clip;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img,
video,
svg,
picture {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.btn {
  background: transparent;
  font-weight: bold;
  border: solid 1px var(--font-color);
  padding: 0.5rem;
  border-radius: var(--border-radius-small);
  transition: var(--transition-time-short);
}

.btn:hover,
.btn:focus {
  background-color: var(--bg-button);
  color: var(--font-color-inverse);
  transition: var(--transition-time-short);
}