@use "styles.scss";
@use "rows/index";

@mixin navs {
  width: 100%;
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--bg);
}

li {
  list-style: none;
}

.to-top {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--font-color-inverse);
  background-color: var(--font-color);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: disappear .1s;
  animation-timeline: scroll();


  &:hover,
  &:focus {
    box-shadow: var(--font-color) 0px 0px 15px 0px;
  }

  @media(max-width: styles.$breakpoint-small) {
    bottom: 5rem;
    right: 0.5rem;
  }
}

.top-nav {
  @include navs;
  padding-block: 2rem;
  top: 0;
  box-shadow: var(--font-color) 0px 0px 3px 0px;

  a {
    min-width: fit-content;
    border: none;
  }

  .extra-links {
    display: flex;

  }

  @media(max-width: styles.$breakpoint-small) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;

  h1 {
    font-size: var(--font-extra-large);
  }

  >.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0.5rem;
    gap: 1rem;

    >.section {
      flex-basis: 200px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}

.bottom-nav {
  display: none;

  @media(max-width: styles.$breakpoint-small) {
    @include navs;
    padding-block: 1rem;
    bottom: 0;
    box-shadow: var(--font-color) 0px 2px 5px 0px;

    a {
      border: none;
    }
  }
}

footer {
  width: 100vw;
  min-height: 4rem;
  box-shadow: var(--font-color) 0px 2px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes disappear {
  0% {
    scale: 0;
    opacity: 0;
  }

  10% {
    scale: .1;
    opacity: 0;
  }

  15% {
    scale: 1;
    opacity: 1;
  }
}