.content .projects {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .project {
      position: relative;
      max-width: 25rem;
      overflow: clip;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: solid 1px var(--font-color);
      border-radius: var(--border-radius-small);
      transition: var(--transition-time-medium);

      .project-overlay {
        scale: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-inline: 2rem;
        text-align: center;
        background-color: var(--font-color);
        color: var(--font-color-inverse);
        transition: var(--transition-time-medium);

        .project-links {
          display: flex;
          gap: 0.5rem;

          a {
            scale: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            font-size: var(--font-medium);
            border-radius: 100%;
            background: var(--font-color-inverse);
            color: var(--font-color);
            transition: var(--transition-time-short);
          }

          a:hover {
            scale: 1.2;
            transition: var(--transition-time-short);
          }
        }
      }

      &:hover, &:focus-within {
        transition: var(--transition-time-medium);
        box-shadow: var(--font-color) 0px 5px 15px 0px;

        .project-overlay {
          scale: 1;
          opacity: 1;
          transition: var(--transition-time-medium);
        }
      }
    }
  }
}